.ChangeQuantity-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
}

button {
    border: none;
    padding: 6px 12px;
    font-size: 20px;
}

p {
    font-size: 20px;
}